<div id="about">
	<h1>About Us</h1>

	<div id="about_header">Unitechange.org was founded to build a new type of philanthropy based on the following observations:</div>

	<div id="about_list">
		<div class="about_number"><img src="/images/circle1.png" alt="1">There is a detachment in current donation services. Everyone should feel a personal connection to the causes they support.</div>

		<div class="about_number"><img src="/images/circle2.png" alt="2">Non-profit organizations often spend too much time trying to raise funds. Instead, great organizations should focus more of their time fulfilling their mission.</div>

		<div class="about_number"><img src="/images/circle3.png" alt="3">Under-served local communities often have little involvement in their own projects. They should be engaged in developing projects.</div>
	</div>
	
	<div class="next"><a href="/how-it-works"><img src="/images/next.png" alt="next"></a></div>
	
	<div id="about_mission">
		<h1>Our Mission</h1>

		<p>Our goal is to create a more tangible approach to charity, so each donor can feel like a millionaire philanthropist, connected to every step of the project development process. We will broadcast the story of each project as it is being built to you on an ongoing basis through email updates, blogs, photos, and video.</p>

		<p>The goal is to introduce you, our donors, to various community development projects around the world, sponsored by non-profit partner organizations. You can then make small (micro) contributions to one project at a time that you believe in, follow the project as it progresses, and share the story with your friends.</p>

		<p>With support from our non-profit partner organizations, we will work with the local communities to develop the infrastructure they desperately need. Our projects will be identified by members of the local community to determine what they really need, rather than what outsiders think they need.</p>
	</div>
</div>