<div id="how">
	<div class="next"><a href="/get-involved"><img src="/images/next.png" alt="next"></a></div>

	<img src="/images/how-it-works.png" alt="how it works">

	<div id="how_text">
		<h1>How it Works</h1>
		<p>First, we find the best non-profit organizations (some of which you may not know) that are doing amazing things for their communities, meet face-to-face, and then ask their community what project would be life-</p>
	
		<p>Second, we tell you about our new partner organization and their amazing project. If you feel a personal connection, we ask that you donate as little or as much as you want to support the development of the life-changing project.</p>
	
		<p>After we raise the goal amount, we obtain updates from our partner organization and their community in the form of text, audio, video, and photos. We then share these with you on a regular basis until the project is complete. Once the project is complete, we create a memorable video of the project’s amazing life-changing story. Last, we start again.</p>
	</div>


</div>