<div id="get_involved">
	<h1>The Maathai Library - Flying Kites Global</h1>

	<div id="about_maathai">The Wangari Maathai – Oxford Press Library has been designed to allow those studying at the Flying Kites Leadership Academy to share the freedom of thought that has been the hallmark of their time in their new home in the Aberdares Mountains.</div>

	<div id="movie">
	
	</div>

	<p>Flying Kites is a non-profit organization based in the United States that seeks to raise the standards of care available to the world’s poorest children. Flying Kites strives to give their children the tools they need to affect their societies through an emphasis on compassion, advocacy, and leadership. Flying Kites Leadership Academy is situated in Njabini, South KInagop and provides home and school to orphaned children in Kenya, Africa.</p>

	<div class="involved_row">
		<div class="involved_label">Project:</div>
		<div class="involved_values">The Maaki Library</div>
	</div>

	<div class="involved_row">
		<div class="involved_label">Our Partner:</div>
		<div class="involved_values">Flying Kites Global</div>
	</div>

	<div class="involved_row">
		<div class="involved_label">Location:</div>
		<div class="involved_values">Kenya, Africa</div>
	</div>

	<div class="involved_row">
		<div class="involved_label">Funding Needed:</div>
		<div class="involved_values">$82,000</div>
	</div>
</div>